/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #043564;
  background: url('http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif')
      no-repeat,
    url('space2.jpg') no-repeat center fixed;
  background-size: 50%, cover;
  background-position: left, right top;
  /* background-image: url('http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif'),
    url('space.jpg');
  background-repeat: no-repeat, no-repeat center fixed;
  background-size: 50%, 100%;
  background-position: 0 50%, left top; */
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.text-container {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  color: white;
  font-size: 8rem;
  /* font-family: 'Quantico', sans-serif; */
  font-family: 'Monoton', cursive;
  text-align: center;
  text-shadow: 0px 0px 4rem white;
  width: 100%;
  height: 100%;
  -webkit-animation: color-change 2s infinite;
  -moz-animation: color-change 2s infinite;
  -o-animation: color-change 2s infinite;
  -ms-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
}

.text {
  overflow: hidden;
  pointer-events: none;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  overflow: hidden;
  font-size: 6rem;
  color: white;
  pointer-events: none;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes color-change {
  0% {
    color: rgb(255, 255, 255);
  }
  18% {
    color: rgb(204, 0, 255);
  }
  36% {
    color: rgb(255, 255, 255);
  }
  54% {
    color: rgb(255, 217, 0);
  }
  72% {
    color: rgb(255, 255, 255);
  }
  86% {
    color: rgb(43, 255, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
